/*
 * Start of neighborhoodmap styling
 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: 100%;
}

.container > * {
    padding: 10px;
    flex: 1 100%;
}

.container div {
    flex: 1;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2px;
    border-color: darkblue;
    border: 2px;
}
.header {
    margin: 0;
    padding: 0;
}
.header  h1 {
    text-align: center;
    background: lightblue;
    color: darkblue;
    margin: 0;
}

.nav {
    margin: 0;
    padding: 0;
    background: lightyellow;
    color: darkblue;
}

.menu {

}

.menu li {
    list-style: none;
}

.loc {

}
.menu  a{
    color: royalblue;
}

.map {
    margin: 2px;
    bottom: 0;
    height: 100%;
    flex: 1;
    flex-wrap: wrap;
    /*flex-basis: 0;*/
    min-width: 70%;
    max-width: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: 100%;
    min-height: 100%;
    background: lightgoldenrodyellow;
}

#ifw {
    margin: 0;
    padding: 0;
}
#ifw .ifw-title {
    background: lightblue;
    color: darkblue;
}

.gm-style-iw {
    width: 350px !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
    margin: 2px;
}

@media (max-width: 400px) {
    .gm-style-iw {
        max-width: 200px;
    }
}